<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings Page</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <style>
        html {
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    </style>
  </head>
  <body>
    <div class="container py-5">
        <h2 class="mb-4">User Settings for {{user.username}} (password is {{user.password}})</h2>
        <form method="POST" action="/settings">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h4>Personal Information</h4>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="username" value={{user.username}}>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number (Note: Only US phone numbers, do not include extension) </label>
                        <input type="tel" class="form-control" id="phone" name="phone" value="{{user.phone}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Profile Picture</h4>
                    <div class="mb-3">
                        <img src="/api/placeholder/150/150" alt="Profile Picture" class="img-thumbnail mb-2">
                        <input class="form-control" type="file" id="profilePicture">
                    </div>
                </div>
            </div>

            <hr>

            <div class="row mb-4">
                <div class="col-md-6">
                    <h4>Email and Phone Preferences</h4>
                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="emailcheck">Receive email notifications</label>
                        <input type="checkbox" class="form-check-input" id="emailCheck" name="email_notif" {{#if user.email_notif}}checked{{/if}}>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="phoneCheck">
                        <label class="form-check-label" for="phoneCheck">Receive text notifications</label>
                        <input type="checkbox" class="form-check-input" id="phoneCheck" name="phone_notif" {{#if user.phone_notif}}checked{{/if}}>

                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Account Settings</h4>
                    <div class="mb-3">
                        <label for="timezone" class="form-label">Time Zone</label>
                        <select class="form-select" id="timezone">
                                <option value="UTC-8">Pacific Time (PT)</option>
                                <option value="UTC-5">Eastern Time (ET)</option>
                                <option value="UTC+0">Coordinated Universal Time (UTC)</option>
                                <option value="UTC+1">Central European Time (CET)</option>
                            </select>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row mb-4">
                <div class="col-md-6">
                    <h4>Change Password</h4>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Privacy Settings</h4>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="profileVisibilityCheck">Profile is visible to others</label>
                        <input class="form-check-input" type="checkbox" id="profileVisibilityCheck" name="show_profile" {{#if user.show_profile}}checked{{/if}}>

                    </div>
                    
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                        <input class="form-check-input" type="checkbox" id="darkModeSwitch" name="dark_mode" {{#if user.dark_mode}}checked{{/if}}>
                    </div>

                    <script>
                        document.addEventListener('DOMContentLoaded', (event) => {
                            const htmlElement = document.documentElement;
                            const switchElement = document.getElementById('darkModeSwitch');
                            const userPrefersDark = {{user.dark_mode}};
                            const currentTheme = userPrefersDark ? 'dark' : 'light';

                            htmlElement.setAttribute('data-bs-theme', currentTheme);
                            switchElement.checked = currentTheme === 'dark';

                            switchElement.addEventListener('change', function () {
                                const newTheme = this.checked ? 'dark' : 'light';
                                htmlElement.setAttribute('data-bs-theme', newTheme);
                                localStorage.setItem('bsTheme', newTheme);
                            });

                            // Tooltip activation
                            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                                return new bootstrap.Tooltip(tooltipTriggerEl);
                            });
                        });
                    </script>
                    <noscript>
                        <div class="alert alert-danger" role="alert">
                            JavaScript is disabled.
                        </div>
                    </noscript>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-secondary me-md-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
  </body>
</html>