<h1>Friends</h1>


<table>
    <tr>
        <th> My Friends</th><th></th>
    </tr>
    {{#each friends}}
    {{if this.sender == user.username}}
    <tr>
        <td>{{this.sender}}</td> <td><button class="btn btn-secondary mt-3">Remove friend</button></td>
    </tr>
    {{else}}
    <tr>
        <td>{{this.receiver}}</td> <td><button class="btn btn-secondary mt-3">Remove friend</button></td>
    </tr>
    {{/if}} 
    {{/each}}
</table>

<table>
    <tr>
        <th> Pending Request</th><th></th>
    </tr>
    {{#each pending}}
    
    <tr>
        <form action="/accept-friend" method="POST" id="data-form"></form>
        <td>{{this.sender}}</td> <td><button class="btn btn-secondary mt-3" type="submit">Accept Friend Request</button></td>
        </form>
    </tr>
    {{/each}}
</table>



<div class="modal fade" id="friendrequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <form action="/friends" method="POST" id="data-form">
                    <div>
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <button class="btn btn-primary" type="submit" id="submit-button">
                        Send Friend Request
                    </button>
                </form>
            </div>
        </div>

    </div>

</div>